:root {
  --bg-color: #1f2a33;
  --text-color: #ffffff;
  --accent-color: #e63946;
	--bg-20: #2f3e4d; /*20% lighter bg*/
	--info-color: #2196f3;   /* new */
  --font-headline: 'Lato', sans-serif;
  --font-body: 'Nunito', sans-serif;
}
