.workout-card {
  font-family: "inter", sans-serif;
  display: flex;
  flex-direction: column;
  min-width: 300px;
	max-width: 300px;
  border-radius: 1rem;
  overflow: hidden;
  min-height: 300px;
}

.future-workout{
	  background-color: #FFF7ED;
		border: 1px solid #441306;
}
.past-workout{
	background-color: #EFF6FF;
	border: 1px solid #060a44;
}
.highlighted{
	background-color: #afc9fa;
	border: 1px solid #060a44;
}

.workout-head {
	font-weight:bold;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding: 0px 16px 0px 16px;
	width:100%;
	box-sizing: border-box;
}

.future-workout .workout-head {
  background-color: #F54900;
  color: white;
}
.past-workout .workout-head {
	background-color: #BEDBFF;
}
.highlighted .workout-head {
	background-color: #1446de;
	color: white;
}
.workout-head a{
  font-weight: 400;
  color: white;
}
.workout-btns {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: auto 1rem 1rem;
}
.btn{
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  box-shadow: inset -2px -2px rgba(0,0,0,0.25);
}
.btn:hover{
  box-shadow:inset -2px -2px 1px rgba(0,0,0,0.4);
}
.btn:active{filter: brightness(95%);}
.start-btn{
  flex-grow:1;
  background-color: #B9F8CF;
}

.delete-btn{
  background-color: #FB2C36;
  color: white;
	font-weight:bold;
}
.lifts{
	color: black;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.lift-name{font-weight:bold;}
